body{
  font-family:Arial, Helvetica, sans-serif;
  background-color: rgb(28, 31, 31);
}
h1 {
  text-align: center;
  color: white;
  margin-top: 20px;
  font-size: 35px;
}
.main-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.loading{
  text-align: center;
  color: white;
  margin-top: 1px;
  font-size: 22px;
  color: #6aaa64;
}
.row{
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}
.square{
  width: 55px;
  height: 55px;
  border:none;
  border-radius: 4px;
  background-color: #787c7e;
  outline: none;
  font-size: 35px;
  text-transform: uppercase;
  color: white;
  text-align: center;
}
.result{
  text-align: center;
  color: white;
  margin-top: 0,2px;
  font-size: 25px;
}
.button{
  width: 130px;
  height: 42px;
  border-radius: 15px;
  border: none;
  background-color: #6aaa64;
  font-size: 26px;
  color: white;
}
.button:hover{
  border: 3px solid #6aaa64;
  background-color: white;
  color: #6aaa64;
  cursor: pointer;
}
.green{
  background-color:#6aaa64;
}
.gold{
  background-color: #c9b458;
}
.gray{
  background-color:#787c7e;
}
